body {
  margin: 0;
  overflow: hidden;
}

.game-wrapper {
  position: relative;
  width: 100vw;
  height: 100vh;
}

.bg {
  position: absolute;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.player {
  position: absolute;
  bottom: 30px;
  width: 200px;
}

.ui {
  position: absolute;
  display: flex;
  align-items: center;
  font-size: 28px;
  font-family: 'Fredoka One', cursive;
  color: white;
  z-index: 2;
}

.icon {
  width: 60px;
  margin-right: 10px;
}

.score-ui {
  top: 20px;
  left: 20px;
}

.score-ui img {
  width: 45px;
  height: auto;
}


.timer-ui {
  top: 20px;
  right: 20px;
}

.timer-ui img {
  width: 45px;
  height: auto;
}

.lives-ui {
  top: 80px;
  left: 20px;
}

.heart {
  width: 40px;
  margin-right: 5px;
}

.durian {
  position: absolute;
  width: 70px;
  z-index: 2;
}

.popup {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: none;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background: rgba(0, 0, 0, 0.7);
  z-index: 999;
}

.popup-img {
  width: 350px;
  margin-bottom: 20px;
}

.btn-group {
  display: flex;
  gap: 20px;
}

.btn-img {
  width: 150px;
  cursor: pointer;
  transition: 0.2s;
}

.btn-img:hover {
  transform: scale(1.1);
}
